{% extends "base.html" %}

{% block subtitle %} 
    Geospatial Scientist 
{% endblock %}
    
{% block header %}
    <header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-left">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                            <h1 class="mb30">Geospatial Specialist &amp; Developer</h1>
                            <!-- <h1 class="mb30">Spatio-Temporal Analyst &amp; WebGIS Developer</h1> -->
                            <p>
                                <a href="{{ url_for('site.contact') }}" class="btn btn-primary">Hit me up!</a>  <em class="or">or</em>
                                <!-- <a href="https://vimeo.com/channels/staffpicks/93951774" class="link-watch popup-vimeo">Watch Video</a> -->
                                <a href="mailto:opiticalvin@gmail.com" class="link-watch">Send Mail</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}
    <div id="fh5co-project">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
                    <span>Wanna See Some Cool Stuff</span>
                    <h2>Latest Works</h2>
                    <!-- <p>My private developments aimed at showcasing some of my skills, especially with regards to Web Development, Spatial and Statistical Analysis &amp; GIS and Remote Sensing...</p> -->
                    <p>Sample solutions touching on <em>Geographical Information systems (GIS)</em>, <em>Remote Sensing</em>, <em>Spatial and Statistical Analysis</em> &amp; <em>Web Development</em>...</p>
                    <p><i>DISCLAIMER</i>: These are sample solutions for demo purposes ONLY.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/mapGIS/index.html" target="_blank"><img src="{{ url_for('static', filename='img/global-map_454x340.png') }}" alt="Online Mapping Tool" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Online Mapping Tool</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/DownloadDigitized/index.html" target="_blank"><img src="{{ url_for('static', filename='img/icon-map_digitize_454x340.jpg') }}" alt="Digi-Download" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Digitize &amp; Download</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/debtorSystem/index.html" target="_blank"><img src="{{ url_for('static', filename='img/IFIS_debt_454x340.jpg') }}" alt="Debt Management with GIS" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Municipal Debt Management</h3>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        
    </div>



    <div id="fh5co-services" class="fh5co-bg-section border-bottom">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-heading">
                        <span>My expertise</span>
                        <h2>What I Do</h2>
                        <p>I creatively and intelligently communicate with <span style="display: inline-block;color:blue;font-weight:bold">maps</span>.</p>
                        <p>Involves:</p>
                        <ul>
                            <li>GIS Map Design &amp; Development</li>
                            <li>Remote Sensing for Earth Observation</li>
                            <li>Application Development &amp; Programming</li>
                            <li>Spatio-Temporal &amp; Stastical Analysis</li>
                            <li>Data Analytics &amp; Machine Learning</li>
                        </ul>
                        <a href="#" class="btn btn-info">More...</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>


    <!-- <div id="fh5co-testimonial" class="fh5co-bg-section">
        <div class="container">
            <div class="row animate-box row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                    <span>Recommendations</span>
                    <h2>What They Say About Me</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 animate-box">
                    <div class="testimonial">
                        <blockquote>
                            <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                            <p class="author"> <img src="{{ url_for('static', filename='images/person1.jpg') }}" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                        </blockquote>
                    </div>

                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                            <p class="author"><img src="{{ url_for('static', filename='images/person2.jpg') }}" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-6 animate-box">
                    <div class="testimonial fh5co-selected">
                        <blockquote>
                            <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                            <p class="author"><img src="{{ url_for('static', filename='images/person3.jpg') }}" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
                        </blockquote>
                    </div>

                    <div class="testimonial">
                        <blockquote>
                            <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
                            <p class="author"><img src="{{ url_for('static', filename='images/person1.jpg') }}" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
                        </blockquote>
                    </div>

                </div>
            </div>
        </div>
    </div> -->


    <div id="fh5co-blog" class="fh5co-bg-section">
        <div class="container">
            <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                    <span>Thoughts &amp; Ideas</span>
                    <h2>Blog Entries</h2>
                    <p>I hope you enjoy reading them as much as I did writing them...</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-post">
                        <span class="fh5co-date">Oct. 24th, 2018</span>
                        <h3><a href="https://blog.opiticonsulting.com/2018/10/24/upgrading-postgresql-9x-postgresql-10x/" target="_blank">Upgrading from PostgreSQL 9.x to PostgreSQL 10.x </a></h3>
                        <p>Imagine having to manually perform software upgrades and migration of data to the new updated software or database <a href="https://blog.opiticonsulting.com/2018/10/24/upgrading-postgresql-9x-postgresql-10x/" target="_blank">...</a></p>
                        <p class="author"><img src="{{ url_for('static', filename='images/postgresql.png') }}" alt="Upgrading from PostgreSQL 9.x to PostgreSQL 10.x"> <cite> Calvin Opiti</cite></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-post">
                        <span class="fh5co-date">Sept. 28th, 2018</span>
                        <h3><a href="https://blog.opiticonsulting.com/2018/09/28/webgis-viewer-openlayers-3/" target="_blank">Web-GIS viewer with Openlayers 3</a></h3>
                        <p>One of the main reasons I an attracted to and like coding, is because of the thrive from solving challenges and the push to achieve my<a href="https://blog.opiticonsulting.com/2018/09/28/webgis-viewer-openlayers-3/" target="_blank">...</a></p>
                        <p class="author"><img src="{{ url_for('static', filename='images/ol3.png') }}" alt="Web-GIS viewer with Openlayers 3"> <cite> Calvin Opiti</cite></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-post">
                        <span class="fh5co-date">Sept. 23rd, 2018</span>
                        <h3><a href="https://blog.opiticonsulting.com/2018/09/23/machine-learning-and-credit-card-fraud/">Machine Learning and Credit Card Fraud</a></h3>
                        <p>I remember the days back in 2016 when a colleague at work advised me to pass by my bank and ask them to enable my card for international/foreign/cross-border transactions before I embarked on my journey to<a href="https://blog.opiticonsulting.com/2018/09/23/machine-learning-and-credit-card-fraud/" target="_blank">...</a></p>
                        <p class="author"><img src="{{ url_for('static', filename='images/fraud.png') }}" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite> MIT Researchers</cite></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-started">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <span>Let's work together</span>
                    <h2>Hit Me Up</h2>
                    <p>For inquiries and consultations...</p>
                    <p><button type="submit" class="btn btn-primary">Get In Touch</button></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}