{% extends "base.html" %}

{% block subtitle %} 
    Geospatial Specialist 
{% endblock %}
    
{% block header %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-7 text-left">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">My Creativity Showcase</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

	
{% block content %}
	<div id="fh5co-project">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
					<span>Want Some Cool Stuff</span>
					<h2>Sample Solutions</h2>
					<p>Sample solutions touching on <em>Geographical Information systems (GIS)</em>, <em>Remote Sensing</em>, <em>Spatial and Statistical Analysis</em> &amp; <em>Web Development</em>...</p>
				</div>
			</div>

			<div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/mapGIS/index.html" target="_blank"><img src="{{ url_for('static', filename='img/global-map_454x340.png') }}" alt="Online Mapping Tool" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Online Mapping Tool</h3>
                            <!-- <p>Web Design</p> -->
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/DownloadDigitized/index.html" target="_blank"><img src="{{ url_for('static', filename='img/icon-map_digitize_454x340.jpg') }}" alt="Digi-Download" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Digitize &amp; Download</h3>
                            <!-- <p>Brand &amp; Identity</p> -->
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="https://solutions.opiticonsulting.com/debtorSystem/index.html" target="_blank"><img src="{{ url_for('static', filename='img/IFIS_debt_454x340.jpg') }}" alt="Debt Management with GIS" class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>Municipal Debt Management</h3>
                            <!-- <p>Illustration</p> -->
                        </div>
                    </a>
                </div>

				<!-- <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Outline Ribbon</h3>
							<p>Web Design</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Food Icons Set</h3>
							<p>Brand &amp; Identity</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Business Card</h3>
							<p>Illustration</p>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Clipboard Office</h3>
							<p>Web Design</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Smart Layers</h3>
							<p>Brand &amp; Identity</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Notepad Mockup</h3>
							<p>Illustration</p>
						</div>
					</a>
				</div>

				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Outline Ribbon</h3>
							<p>Web Design</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Food Icons Set</h3>
							<p>Brand &amp; Identity</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
					<a href="#"><img src="images/work-6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
						<div class="fh5co-copy">
							<h3>Business Card</h3>
							<p>Illustration</p>
						</div>
					</a>
				</div> -->


				<!-- <div class="col-md-12 text-center">
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li class="active"><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div> -->

			</div>
		</div>
		
	</div>
{% endblock %}
